<% public_perm = locals[:embargo_perm][:public] %>
<% registered_perm = locals[:embargo_perm][:registered] %>

<%= javascript_tag do %>
  <%= render partial: 'generic_files/embargo_select', formats: [:js] %>
<% end %>

<div class="row">
  <h3 class="col-sm-12">Embargo<small>(optional)</small>
    <span id="embargo_tooltip" class="h5"><a rel="popover" data-content="<%= render 'generic_files/embargo_help' %>" data-original-title="Embargo" aria-label="Useage information for embargo" href="#"><i aria-hidden="true" class="help-icon"></i></a></span>
  </h3>

  <div class="col-sm-12">
    <p>An embargo will temperorarily restrict access to this item. Examples for why one might request an embargo include: need to publish on the content in a journal or other publishing venue or intellectual property issues (e.g. patentable information). Below, identify the level of visibility you would like for your item during the embargo period, and the date your would like the embargo to end. Once the embargo date passes, the visivility for this item will automatically revert to the visibility level selected above.</p>
    <div id="embargo-options">
      <span>Select visibility during embargo:</span>
      <div class="radio">
        <label>
          <input type="radio" id="embargo_open" name="embargo" value="<%=Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC %>" <% if !public_perm.blank? %> checked="true"<% end %>/> <span class="label label-success">Open Access</span> Visible to the world.
        </label>
        <label>
          <input type="radio" id="embargo_psu" name="embargo" value="<%=Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>" <% if !registered_perm.blank?  %> checked="true"<% end %> /><span class="label label-info"><%=t('sufia.institution_name') %></span> Visible to all <%=t('sufia.institution_name') %> users.
        </label>
        <label>
          <input type="radio" id="embargo_restricted" name="embargo" value="<%=Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>"<% if registered_perm.blank? and public_perm.blank?%> checked="true"<% end %> /> <span class="label label-danger">Private</span> Visible to users/groups specified below, if any.
        </label>
      </div>
      <span>Select embargo date:</span>
      <input type="text" id="datepicker">
    </div>

  </div>
</div>

